.Cart-container {
    display:flex;
    justify-content: flex-start;
}

.Cart-items{
    width:200px;
    text-align: left;
    background-color: silver;
}
.Cart-button{
    width:40px;
    padding:0px
}