* {
    margin: auto;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* column-gap: 40px; */
    /* padding:150px; */
    margin: auto;
    background-image: url('../../bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* align-items:  center; */
    /* justify-content: center; */

}

.leftBox {
    width: 380px;
    /* background-color: whitesmoke; */
    padding: 40px;
    font-size: large;
    text-align: left;
    /* border: 1px solid silver; */
    color: black;
    height: 400px;
    /* margin-left: 0; */



}

.rightBox {
    width: 400px;
    padding: 40px;
    height: 380px;
    /* background-color: whitesmoke; */
    background-color: bisque;
    /* margin-bottom: 10px; */
    border: 1px solid silver;
    box-shadow: 1px 1px 1px silver;
    border-radius: 10px;

}

input,button {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    font-size: 20px;
    line-height: 50px;
    outline-color: silver;
    /* outline: none; */

}

.newAccBtn {
    width: 60%;
    background-color: green;
    border-radius: 10px;
}

button {
    background-color: #3b120f;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 10px;
}


.txtBox:focus-within {
    border: 2px solid silver;
}

.pwdEye {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-top: 30px;
}

.pwdEye:focus-within {
    border: 2px solid silver;

}

input[type=password]:focus {
    outline: none;
}

.title {
    font-size: 60px;
    text-align: left;
}

.tagLine {
    margin-left: 25px;
    font-size: 20px;
}

.Login-msg{
    font-size: 20px;
    font-weight: bold;
    color:red;
    padding:5px
}